h1{
    text-align: center;
}

nav{
    background-color: #333;
}

ul{
    list-style: none;
    padding: 20px;
    text-align: center;
}

li{
    display: inline-block;
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

a:hover{
    color: #a08787;
}