body{
    background-color: #102542;
    color: #fff;
    font-family: sans-serif;
}

.contenedor{
    background-color: #fff;
    width: 700px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 20px;
}

.contenedor h1{
    margin-top: 0;
    color: #8b621c;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bolder;
}

.contenedor h2{
    color: #ff5722;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.contenedor p{
    color: #102542;
    font-size: 24px;
}

.contenedor button{
    background-color: #ff5722;
    color: white;
    width: 100%;
    padding: 30px 40px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.contenedor button:hover{
    background-color: #6e250e;
}