*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: darkmagenta;
    /* Suponiendo que se quiere usar una imagen de fondo */
    /* background: #333 url('../img/img-fulana.jpg') no-repeat center center/cover; */
    color: white;
    /* height: 100%; */
    height: 100vh;
    /* width: 50vw; */
}