li{
    display: inline;
}

li a{
    padding-right: 30px;
}

img{
    display: block;
    margin: auto;
    /* display: none; */
}

.caja{
    box-sizing: border-box;
    background-color: darkgoldenrod;
    color: white;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    width: 32%;
    display: inline-block;
}