a {
    color: #333;
    text-decoration: underline;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}


/* El visited se usa para cuando el link ya fue visitado y se desea que permanezca en un color predeterminado solo con el fin de indicar que ya se ha hecho click sobre él. Ya se usa muy poco este atributo */
/* a:visited{
    color: green;
} */

a:active {
    color: blue;
}

.btn {
    background-color: darkslateblue;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;                                  
    cursor: not-allowed;
}

.btn:hover{
    background-color: brown;
    color: yellow;
}

.btn:disabled{
    background-color: #CCC;
    cursor: not-allowed;
}