h3{
    font-size: 36px;
    /* display: none; */
    /* visibility: hidden; */
    margin-top: -30px;
    margin-left: -100px;
    /* Las margenes negativas solo aplican para el "margin" no para el "padding" */
}