/* 
Posicionamiento
position: static
position: relative
position: absolute
position: fixed
position: sticky
*/

/* 1. Posicionamiento static:

El posicionamiento static es el valor predeterminado. Los elementos con este posicionamiento se colocan en el flujo normal del documento. Las propiedades: top, left, right, bottom no tienen ningún efecto*/
/* p{
  border: 1px solid black;
  background-color: chocolate;
  font-size: 2rem;
  position: static;
  top: 30px;
  left: 100px;
  right: -100px;
} */

/* 2. Posicionamiento relative:

El posicionamiento relative permite ajustar la posición de un elemento en relación con su posición original en el flujo del documento. Las propiedades: top, left, right, bottom SI tienen ningún efecto. Se conserva el espacio original de posicionamient*/

/* p{
    border: 1px solid black;
    background-color: chocolate;
    font-size: 2rem;
    position: static;
    top: 30px;
    left: 100px;
    right: -100px;
} */

p{
    border: 1px solid black;
    background-color: chocolate;
    font-size: 2rem;
    width: 700px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.especial{
    background-color: rgb(219, 241, 14);
    position: relative;
    /* bottom: -30px; es la operacion equivalente que se hace en top pero a la inversa*/
    /* top: 30px; */
    /* right: -50px; */
    left: 50px;
    bottom: -100px;
    z-index: 1;
}

.contenedor{
    border: 1px solid black;
    background-color: crimson;
    width: 400px;
    height: 400px;
}

.elemento-relativo{
    width: 200px;
    height: 200px;
    border: 1px solid cornflowerblue;
    background-color: blueviolet;
    position: relative;
    top: 30px;
    left: 300px;
}