body{
    font-size: 20px;
}

/* h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
} */

.contenedor{
    font-size: 18px;
}

h1{
    font-size: 4em;
}

p{
    font-size: 1.5em;
}

.caja{
    font-size: 0.5em;
}