*{
    margin: 0;
}
.contenedor{
    /* width: 100%;
    height: 100%; */
    width: 100vw;
    height: 70vh;
    background-color: blueviolet;
}

.contenedor2{
    /* width: 100%;
    height: 100%; */
    width: 50vw;
    height: 100vh;
    background-color: red;
}